header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    color: white;
    font-weight: bold;
    background-color: #F4B266;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.logo{
    width: 70px;
}

.search-container{
    margin-right: 30%;
    padding: 5px;
}

.search-input{
  background: url('/img/lupa-search.svg') no-repeat 10px center;
  background-size: 20px 20px;
  padding-left: 40px; /* espaço para não sobrepor o texto */
  height: 35px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 250px;
  font-size: 16px;
}

.user-menu ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #5C4033;
    border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit; /* opcional: mantém a cor do texto onde está */
}


